.titolo{
    text-align: center;
    color: rgb(0, 150, 150);
    font-size: xx-large;
    margin-top: 5%;
}

.contenitore{
    width: 260px;
    border: 2px solid black;
    margin: auto;
    margin-top: 15%;
    padding: 5%;
    text-align: center;
}

.ilfont{
    font-size: x-large;
    
}